{{- if and (index .Values "external-secrets" "enabled") .Values.fakeSecretStore.enabled }}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: eso-wait-sa
  namespace: {{ .Release.Namespace }}
  annotations:
    "helm.sh/hook": post-install,post-upgrade
    "helm.sh/hook-weight": "1"
    "helm.sh/hook-delete-policy": before-hook-creation,hook-succeeded
  labels:
    {{- include "openchoreo-build-plane.labels" . | nindent 4 }}
{{- end }}
